.elementor-8 .elementor-element.elementor-element-326c8ba:not(.elementor-motion-effects-element-type-background), .elementor-8 .elementor-element.elementor-element-326c8ba > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/02/checkout-banner.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-8 .elementor-element.elementor-element-326c8ba > .elementor-background-overlay{background-color:#000000;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8 .elementor-element.elementor-element-326c8ba{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:200px 0px 200px 0px;}.elementor-8 .elementor-element.elementor-element-24468ae .elementor-heading-title{color:#FFFFFF;font-family:"Albra", Sans-serif;font-size:70px;font-weight:600;text-transform:capitalize;}.elementor-bc-flex-widget .elementor-8 .elementor-element.elementor-element-c256cb0.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-8 .elementor-element.elementor-element-c256cb0.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-icon i{color:#FFFFFF;transition:color 0.3s;}.elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-icon svg{fill:#FFFFFF;transition:fill 0.3s;}.elementor-8 .elementor-element.elementor-element-f5e9562{--e-icon-list-icon-size:18px;--e-icon-list-icon-align:center;--e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);--icon-vertical-offset:0px;}.elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-icon{padding-right:7px;}.elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-item > a{font-family:"Ilisarniq", Sans-serif;font-size:15px;font-weight:400;}.elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}.elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-item:hover .elementor-icon-list-text{color:#E99701;}.elementor-8 .elementor-element.elementor-element-390c307a{margin-top:50px;margin-bottom:50px;}@media(max-width:1024px){.elementor-8 .elementor-element.elementor-element-24468ae .elementor-heading-title{font-size:60px;}.elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-8 .elementor-element.elementor-element-f5e9562 .elementor-icon-list-item > a{font-size:18px;}}@media(max-width:767px){.elementor-8 .elementor-element.elementor-element-326c8ba{padding:100px 0px 50px 0px;}.elementor-8 .elementor-element.elementor-element-24468ae .elementor-heading-title{font-size:50px;}}@media(min-width:768px){.elementor-8 .elementor-element.elementor-element-61fb9a5{width:70%;}.elementor-8 .elementor-element.elementor-element-c256cb0{width:30%;}}@media(min-width:1025px){.elementor-8 .elementor-element.elementor-element-326c8ba:not(.elementor-motion-effects-element-type-background), .elementor-8 .elementor-element.elementor-element-326c8ba > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:scroll;}}/* Start custom CSS for text-editor, class: .elementor-element-4ed5ba28 */.woocommerce{
    font-family: 'Ilisarniq';
    font-size: 15px;
}

li, strong, .user-info p{
    font-family: "Albra";
    font-weight: 600;
    color: #000;
    font-size: 16px;
}

a.woocommerce-Button.button, button[type="submit"], .button{
    background-color: #E99701 !important;
    color: #fff !important;
    padding: 14px 18px !important;
    font-family: "Albra";
}


a.logout, .woocommerce-MyAccount-content a{
    color: #E99701 !important;
}

header.woocommerce-Address-title.title a{
    background-color: #E99701 !important;
    color: #fff !important;
    font-family: "Albra";
}

header.woocommerce-Address-title.title a:hover{
    background-color: #E99701 !important;
    color: #fff !important;
}

.woocommerce-info, .woocommerce-info:before{
    border-color: #E99701 !important;
    color: #E99701 !important;
}

.my_account_orders .button{
    color: #fff !important;
}

mark{
    background: #E99701 !important;
    color: #fff !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2022/02/Albra-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2022/02/Albra-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2022/02/Albra-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/02/Albra-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/02/Albra-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */