.elementor-864 .elementor-element.elementor-element-87a29be > .elementor-background-overlay{background-image:url("../../2022/02/rice-product.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;opacity:0.4;}.elementor-864 .elementor-element.elementor-element-87a29be{padding:100px 0px 100px 0px;}.elementor-864 .elementor-element.elementor-element-7c8761e > .elementor-element-populated{margin:-50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-864 .elementor-element.elementor-element-d87d12d .elementor-button .elementor-align-icon-right{margin-left:12px;}.elementor-864 .elementor-element.elementor-element-d87d12d .elementor-button .elementor-align-icon-left{margin-right:12px;}.elementor-864 .elementor-element.elementor-element-d87d12d .elementor-button{font-family:"Ilisarniq", Sans-serif;font-size:15px;font-weight:500;text-transform:capitalize;fill:#000000;color:#000000;background-color:#61CE7000;padding:0px 0px 0px 0px;}.elementor-864 .elementor-element.elementor-element-d87d12d .elementor-button:hover, .elementor-864 .elementor-element.elementor-element-d87d12d .elementor-button:focus{color:#E99701;}.elementor-864 .elementor-element.elementor-element-d87d12d .elementor-button:hover svg, .elementor-864 .elementor-element.elementor-element-d87d12d .elementor-button:focus svg{fill:#E99701;}.elementor-864 .elementor-element.elementor-element-c8da44e > .elementor-element-populated{margin:0px 40px 0px 40px;--e-column-margin-right:40px;--e-column-margin-left:40px;}.elementor-864 .elementor-element.elementor-element-c8da44e{z-index:0;}.elementor-864 .elementor-element.elementor-element-8432523, .elementor-864 .elementor-element.elementor-element-8432523 > .elementor-background-overlay{border-radius:30px 30px 30px 30px;}.elementor-864 .elementor-element.elementor-element-8432523{box-shadow:0px 0px 10px 0px rgba(232.99999999999997, 150.99999999999991, 0.9999999999999942, 0.3);padding:50px 0px 50px 0px;z-index:0;}.elementor-864 .elementor-element.elementor-element-7b565b3{text-align:center;}.elementor-864 .elementor-element.elementor-element-7b565b3 .elementor-heading-title{color:#000000;font-family:"Ilisarniq", Sans-serif;font-size:25px;font-weight:600;text-transform:capitalize;}.elementor-864 .elementor-element.elementor-element-0f98054{text-align:center;}.woocommerce .elementor-864 .elementor-element.elementor-element-0f98054 .price{font-family:"Ilisarniq", Sans-serif;font-weight:500;}.elementor-864 .elementor-element.elementor-element-3697dc7 .cart button, .elementor-864 .elementor-element.elementor-element-3697dc7 .cart .button{padding:12px 12px 12px 12px;transition:all 0.2s;}.elementor-864 .elementor-element.elementor-element-3697dc7 .quantity .qty{transition:all 0.2s;}.elementor-864 .elementor-element.elementor-element-5858a2b{margin-top:50px;margin-bottom:50px;}.elementor-864 .elementor-element.elementor-element-85ce15d .elementor-heading-title{color:#000000;font-family:"Ilisarniq", Sans-serif;font-size:24px;font-weight:600;text-transform:capitalize;}.woocommerce .elementor-864 .elementor-element.elementor-element-c26ab1e .woocommerce-product-details__short-description{font-family:"Ilisarniq", Sans-serif;font-size:15px;font-weight:400;}.elementor-864 .elementor-element.elementor-element-928140a:not(.elementor-motion-effects-element-type-background), .elementor-864 .elementor-element.elementor-element-928140a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-864 .elementor-element.elementor-element-928140a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-864 .elementor-element.elementor-element-928140a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs ul.wc-tabs li a{color:#000000;font-family:"Ilisarniq", Sans-serif;font-size:19px;text-transform:capitalize;letter-spacing:1px;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs ul.wc-tabs li{background-color:#FFFFFF;border-color:#FFFFFF;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs .woocommerce-Tabs-panel{border-color:#FFFFFF;font-family:"Ilisarniq", Sans-serif;font-size:15px;font-weight:400;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs ul.wc-tabs li.active a{color:#E99701;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs .woocommerce-Tabs-panel, .woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs ul.wc-tabs li.active{background-color:#FFFFFF;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs ul.wc-tabs li.active{border-bottom-color:#FFFFFF;border-color:#FFFFFF #FFFFFF #FFFFFF #FFFFFF;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs ul.wc-tabs li:not(.active){border-bottom-color:#FFFFFF;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-Tabs-panel{color:#000000;}.woocommerce .elementor-864 .elementor-element.elementor-element-1d7a87c .woocommerce-tabs .woocommerce-Tabs-panel h2{font-family:"Ilisarniq", Sans-serif;font-size:20px;}.elementor-864 .elementor-element.elementor-element-2c896a6:not(.elementor-motion-effects-element-type-background), .elementor-864 .elementor-element.elementor-element-2c896a6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-864 .elementor-element.elementor-element-2c896a6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}.elementor-864 .elementor-element.elementor-element-2c896a6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-864 .elementor-element.elementor-element-3df81ae .elementor-heading-title{color:#000000;font-family:"Ilisarniq", Sans-serif;font-size:24px;font-weight:600;text-transform:capitalize;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woo-products-inner li.product{width:25%;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woo-products-details-wrap, .elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woo-product__link{text-align:center;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce li.product{padding-right:calc( 18px/2 );padding-left:calc( 18px/2 );}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce ul.products{margin-left:calc( -18px/2 );margin-right:calc( -18px/2 );}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce .woocommerce-loop-product__link img{object-fit:cover;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce .premium-woo-products-details-wrap .premium-woo-atc-button .button{font-family:"Ilisarniq", Sans-serif;font-size:14px;font-weight:500;text-transform:capitalize;letter-spacing:0px;color:#FFFFFF;background-color:#E99701;border-style:solid;border-width:1px 1px 1px 1px;border-color:#E99701;border-radius:3px 3px 3px 3px;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce li.product .price{color:#000000;font-family:"Ilisarniq", Sans-serif;font-weight:400;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce li.product .price del{color:#000000;font-family:"Ilisarniq", Sans-serif;font-size:20px;font-weight:400;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce .woocommerce-loop-product__title{color:#000000;font-family:"Ilisarniq", Sans-serif;font-size:17px;font-weight:500;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woocommerce .woocommerce-loop-product__title:hover{color:#000000;}@media(min-width:768px){.elementor-864 .elementor-element.elementor-element-7c8761e{width:55%;}.elementor-864 .elementor-element.elementor-element-c8da44e{width:45%;}}@media(min-width:1025px){.elementor-864 .elementor-element.elementor-element-87a29be > .elementor-background-overlay{background-attachment:scroll;}}@media(max-width:1024px){.elementor-864 .elementor-element.elementor-element-c8da44e > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woo-products-inner li.product{width:50%;}}@media(max-width:767px){.elementor-864 .elementor-element.elementor-element-0b5d4c6 .premium-woo-products-inner li.product{width:100%;}}/* Start custom CSS for button, class: .elementor-element-d87d12d */span.elementor-button-text:hover{
    margin-right: 5px;
    transition: all 0.5s ease;
}

.elementor-button-icon{
    font-size: 20px;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-images, class: .elementor-element-273b678 */.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{    
    display: flex;
    flex-direction: row-reverse;}
    
ol.flex-control-nav.flex-control-thumbs li img{
    max-width: 300%;
}

ol.flex-control-nav.flex-control-thumbs{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -10%;
}

@media only screen and (min-width:321px) and (max-width:768px){
    ol.flex-control-nav.flex-control-thumbs{
        left: 0% !important;
    }
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-stock, class: .elementor-element-10bc9df */.woocommerce div.product p.stock{
    text-align: center;
    font-size: 20px;
    font-family: 'Ilisarniq';
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-add-to-cart, class: .elementor-element-3697dc7 */.woocommerce-variation-price {
    font-size: 20px !Important;
    font-weight: 500 !Important;
}

.single_variation{
    float: inherit !Important;
    text-align: center !Important;
}

.variations tr{
    display: flex;
    justify-content: center;
}

.elementor-add-to-cart{
    font-family: "Ilisarniq" !Important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8432523 */.entry-title{
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

div.product form.cart{
    border-bottom: 0 !important;
    border-top: 0 !important;
}

button.single_add_to_cart_button.button.alt{
    background-color: #E99701;
    font-size: 16px;
    border-radius: 4px;
}

#price_info{
    backdrop-filter: blur(8px);
    background-color: rgb(255, 255, 255, 30%); 
}

a.minus, .input-text, .plus{
    border: 1px solid #000 !important;
    color: #000 !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-87a29be */.owp-floating-bar.show{
    display: none;
}

.woocommerce-message{
    font-family: "Ilisarniq" !Important;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-data-tabs, class: .elementor-element-1d7a87c */ul.tabs.wc-tabs{
    border: none !Important;
    display: flex !Important;
    overflow: hidden;
}

.woocommerce-tabs ul.tabs li.active a{
    color: white !Important;
    border: none !Important;
    background-color: #E99701;
}

.woocommerce-tabs ul.tabs li a{
    border-radius: 4px;
}

ul.wc-tabs li{
    margin-right: 10px;
}

.woocommerce-message a, input[type="submit"]{
    background-color: #E99701 !Important;
    border-radius: 4px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-928140a */.elementor-element-928140a, .elementor-element-2c896a6{
    z-index: 50 !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */