.elementor-846 .elementor-element.elementor-element-8194fbe:not(.elementor-motion-effects-element-type-background), .elementor-846 .elementor-element.elementor-element-8194fbe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/03/distributor.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-846 .elementor-element.elementor-element-8194fbe > .elementor-background-overlay{background-color:#000000;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-846 .elementor-element.elementor-element-8194fbe{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:180px 0px 180px 0px;}.elementor-846 .elementor-element.elementor-element-0bafa6c .elementor-heading-title{color:#FFFFFF;font-family:"Albra", Sans-serif;font-size:40px;font-weight:600;text-transform:capitalize;}.elementor-bc-flex-widget .elementor-846 .elementor-element.elementor-element-2090703.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-846 .elementor-element.elementor-element-2090703.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-846 .elementor-element.elementor-element-a34d670 .elementor-icon-list-icon i{color:#FFFFFF;transition:color 0.3s;}.elementor-846 .elementor-element.elementor-element-a34d670 .elementor-icon-list-icon svg{fill:#FFFFFF;transition:fill 0.3s;}.elementor-846 .elementor-element.elementor-element-a34d670{--e-icon-list-icon-size:18px;--e-icon-list-icon-align:center;--e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);--icon-vertical-offset:0px;}.elementor-846 .elementor-element.elementor-element-a34d670 .elementor-icon-list-icon{padding-right:7px;}.elementor-846 .elementor-element.elementor-element-a34d670 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-846 .elementor-element.elementor-element-a34d670 .elementor-icon-list-item > a{font-family:"Ilisarniq", Sans-serif;font-size:15px;font-weight:400;}.elementor-846 .elementor-element.elementor-element-a34d670 .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}.elementor-846 .elementor-element.elementor-element-a34d670 .elementor-icon-list-item:hover .elementor-icon-list-text{color:#E99701;}.elementor-846 .elementor-element.elementor-element-cb1fe1c{margin-top:50px;margin-bottom:50px;}.elementor-846 .elementor-element.elementor-element-090cdca > .elementor-widget-container{padding:25px 0px 25px 25px;box-shadow:0px 0px 10px 0px rgba(232.99999999999997, 150.99999999999991, 0.9999999999999942, 0.31);}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-grid > .qodef-grid-inner{gap:38px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-grid.qodef-borders--between > .qodef-grid-inner > .qodef-grid-item:before{bottom:calc( -38px/2 );}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-grid.qodef-borders--between > .qodef-grid-inner > .qodef-grid-item:after{right:calc( -38px/2 );}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-grid.qodef-borders--all > .qodef-grid-inner > .qodef-grid-item{padding:38px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-addons-m-pagination.qodef--standard .page-numbers{font-family:"Ilisarniq", Sans-serif;font-size:15px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-addons-m-pagination.qodef--standard .page-numbers.current{color:#E99701;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-addons-m-pagination.qodef--standard a.page-numbers:hover{color:#E99701;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-addons-m-pagination{margin-top:2%;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-shortcode .qodef-e-title{color:#000000;font-family:"Ilisarniq", Sans-serif;font-size:16px;font-weight:500;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-shortcode .qodef-e-title a{color:#000000;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-shortcode .qodef-e-title:hover{color:#000000;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-shortcode .qodef-e-title:hover a{color:#000000;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-item-layout--info-below-swap .qodef-e-swap-holder{margin-top:8px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-woo-product-price{color:#E99701;font-family:"Ilisarniq", Sans-serif;font-size:17px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-woo-product-price del{color:#E99701;}.elementor-846 .elementor-element.elementor-element-fbe8334 .woocommerce-Price-currencySymbol{font-size:17px;top:0px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-button{font-family:"Ilisarniq", Sans-serif;font-size:13px;font-weight:500;text-transform:capitalize;color:#000000;border-width:0px 0px 0px 0px;padding:15px 6px 15px 6px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-button:hover{color:#E99701;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-button.qodef-type--icon-boxed .qodef-m-text{padding:15px 6px 15px 6px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-qi-button.qodef-type--icon-boxed .qodef-m-icon{padding:15px 0 15px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-m-icon{font-size:16px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-m-icon svg{width:16px;height:16px;}.elementor-846 .elementor-element.elementor-element-fbe8334 .qodef-m-text:after{bottom:-2px;}@media(max-width:1024px){.elementor-846 .elementor-element.elementor-element-8194fbe{padding:180px 20px 180px 20px;}}@media(max-width:767px){.elementor-846 .elementor-element.elementor-element-8194fbe{padding:100px 0px 50px 0px;}.elementor-846 .elementor-element.elementor-element-0bafa6c .elementor-heading-title{font-size:50px;}}@media(min-width:768px){.elementor-846 .elementor-element.elementor-element-ec2fd3b{width:70%;}.elementor-846 .elementor-element.elementor-element-2090703{width:30%;}.elementor-846 .elementor-element.elementor-element-05558c2{width:25%;}.elementor-846 .elementor-element.elementor-element-c40bdec{width:75%;}}@media(max-width:1024px) and (min-width:768px){.elementor-846 .elementor-element.elementor-element-05558c2{width:30%;}.elementor-846 .elementor-element.elementor-element-c40bdec{width:70%;}}@media(min-width:1025px){.elementor-846 .elementor-element.elementor-element-8194fbe:not(.elementor-motion-effects-element-type-background), .elementor-846 .elementor-element.elementor-element-8194fbe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:scroll;}}/* Start custom CSS for shortcode, class: .elementor-element-090cdca */h4.filter-title, .yith-wcan-reset-filters{
    font-family: Ilisarniq;
    font-size: 15px;
}

span.term-label{
    font-size: 1.3rem !important;
    font-family: Ilisarniq;
    text-transform: capitalize !important;
}

li.filter-item.label.level-0.label-below:hover, .filter-item.label.active, .yith-wcan-reset-filters, .yith-wcan-reset-filters:hover{
    background-color: #E99701 !important;
    box-shadow: none !important;
    color: #fff !important;
    border-width: 0 !important;
    border-radius: 4px !important;
}

.yith-wcan-reset-filters{
    padding: 5px 10px !important;
    text-transform: capitalize !important;
}/* End custom CSS */
/* Start custom CSS for qi_addons_for_elementor_product_list, class: .elementor-element-fbe8334 */.woocommerce div.product{
    margin-bottom: 20px !important;
}

.qodef-e-swap-holder{
    width: 61% !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2022/02/Albra-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2022/02/Albra-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2022/02/Albra-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/02/Albra-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Albra';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/02/Albra-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Ilisarniq';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2022/02/Ilisarniq-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */